@import "tailwindcss";


  .section-heading {
    font-size: 1.8rem; /* 30px */
    line-height: 2.2rem;
  }


.a1{
  border-width: 4px;
  border-color: red;
  border-color: red;
  background: #fa07070e;
}.luxury-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.luxury-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #FF5A00;
  width: 0%;
  transition: width 0.4s ease-in-out;
  z-index: -1;
}

.luxury-btn:hover::before {
  width: 100%;
}
