@import "tailwindcss";


  .section-heading {
    font-size: 1.8rem; /* 30px */
    line-height: 2.2rem;
  }


.a1{
  border-width: 4px;
  border-color: red;
  border-color: red;
  background: #fa07070e;
}.luxury-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.luxury-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #FF5A00;
  width: 0%;
  transition: width 0.4s ease-in-out;
  z-index: -1;
}

.luxury-btn:hover::before {
  width: 100%;
}/* Core pulse container */
.pin-pulse {
  position: relative;
}

/* Two ripple waves */
.pin-pulse::before,
.pin-pulse::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  background: rgba(211, 116, 15, 0.688); /* same tone as site pin */
  z-index: 0;
  animation: pinPulse 2.4s ease-out infinite;
}

/* Second wave delay */
.pin-pulse::after {
  animation-delay: 1.2s;
}

/* Pulse animation */
@keyframes pinPulse {
  0% {
    transform: scale(1);
    opacity: 0.55;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}