@import "tailwindcss";


  .section-heading {
    font-size: 1.8rem; /* 30px */
    line-height: 2.2rem;
  }


.a1{
  border-width: 4px;
  border-color: red;
  border-color: red;
  background: #fa07070e;
}