@import "tailwindcss";

body {
  font-family: 'Inter Tight', sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}