@import "tailwindcss";

body {
  font-family: 'Inter Tight', sans-serif;
}

/* Prevent device rotation */
html {
  aspect-ratio: 9 / 16;
}

@supports (orientation: portrait) {
  html {
    orientation: portrait;
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  font-family: "Stack Sans Notch", sans-serif;
 
}